html {
background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width: 180;
}

h1{
    padding-bottom: 10px;
}

h2{
    padding: 10px;
}

em{
    font-weight: 600;
    font-style: normal;
    color: #1a248d;
}

aside {
  width: 40%;
  padding-left: .5rem;
  padding-right: 0.5rem;
  float: right;
}

figure{
    margin: auto;
}

.note{
    font-style: italic;
}